In [6]:
import pandas as pd

In [7]:
city = 'jinzhong'
df = pd.read_csv(f"{city}/origin.csv")

In [8]:
df['年'] = df['日期'].str[:4]
df['月'] = df['日期'].str[5:7]
df['日'] = df['日期'].str[8:10]

In [9]:
df.head(5)

            日期 天气状况(白天/夜间) 最高气温/最低气温      风力风向(白天/夜间)        城市     年   月   日
0  2019年01月01日         晴/晴  -1℃/-16℃    南风1-2级/南风1-2级  jinzhong  2019  01  01
1  2019年01月02日         晴/晴   1℃/-13℃  东南风1-2级/东南风1-2级  jinzhong  2019  01  02
2  2019年01月03日         阴/阴   1℃/-11℃  西北风1-2级/西北风1-2级  jinzhong  2019  01  03
3  2019年01月04日         阴/阴  -2℃/-11℃  东北风1-2级/东北风1-2级  jinzhong  2019  01  04
4  2019年01月05日        阴/多云    0℃/-9℃  东南风1-2级/东南风1-2级  jinzhong  2019  01  05

In [10]:
df['月'].value_counts()

月
07    157
12    156
01    155
03    155
05    155
08    155
10    155
06    152
04    150
09    150
11    150
02    141
Name: count, dtype: int64

In [11]:
# 定义一个函数来计算平均气温
def calculate_avg_temp(temp_str):
    # 分割字符串得到最低气温和最高气温
    low_temp, high_temp = temp_str.replace('℃', '').split('/')
    # 将字符串转换为浮点数
    low_temp = float(low_temp)
    high_temp = float(high_temp)
    # 计算平均值
    return (low_temp + high_temp) / 2

# 应用函数到气温列
df['平均气温'] = df['最高气温/最低气温'].apply(calculate_avg_temp)

# 按月份分组计算每月平均气温
monthly_avg_temp = df.groupby('月')['平均气温'].mean().reset_index(name='每月平均气温')

In [12]:
monthly_avg_temp

     月     每月平均气温
0   01  -3.083871
1   02   0.539007
2   03   7.612903
3   04  12.276667
4   05  17.909677
5   06  23.398026
6   07  24.582803
7   08  23.219355
8   09  18.723333
9   10  11.374194
10  11   4.400000
11  12  -2.631410

In [13]:
monthly_avg_temp.to_csv(f"{city}/temp.csv")

In [14]:
monthly_avg_weather = df.groupby('月')["天气状况(白天/夜间)"].value_counts().reset_index(name = "每月气候状况统计")

In [15]:
monthly_avg_weather.head(10)

    月 天气状况(白天/夜间)  每月气候状况统计
0  01         晴/晴        81
1  01        多云/晴        13
2  01        晴/多云        12
3  01       多云/多云        10
4  01         阴/阴        10
5  01         阴/晴         7
6  01        阴/多云         5
7  01         晴/阴         3
8  01       多云/小雪         2
9  01        多云/阴         2

In [16]:
monthly_avg_weather = monthly_avg_weather[monthly_avg_weather["每月气候状况统计"]>10]

In [17]:
pivot_df = monthly_avg_weather.pivot_table(index='月', columns='天气状况(白天/夜间)', values='每月气候状况统计', aggfunc='sum')

In [18]:
pivot_df = pivot_df.fillna("0")

In [19]:
pivot_df.to_csv(f"{city}/weather.csv")